ipython
ipykernel
numpy>=1.22.4,<2.0a0
tqdm>=4.67.1,<5
pip>=25.1.1,<26
faiss-cpu>=1.9.0,<2
python-dotenv>=1.1.1,<2
sentence-transformers>=5.0.0,<6
ollama>=0.5.1,<0.6
streamlit>=1.48.0,<2
google-genai>=1.29.0,<2
